# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# 가상환경
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# 환경변수
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# 배포/빌드
staticfiles/
*.egg-info/